header {
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  font-family: "Sigmar", sans-serif;
  font-size: 2rem;
  color: #333;
}

.header-link {
  text-decoration: none;
  color: #333;
  font-family: 'Sigmar', sans-serif;
  font-size: 2rem;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.dropbtn {
  background-color: #0077cc;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.dropbtn:hover {
  background-color: #005fa3;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  left: auto;
  padding: 5px 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.logout-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.logout-btn:hover {
  background-color: darkred;
}
