* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #111;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main {
  flex: 1;
  padding: 20px;
  text-align: center;
  background-color: #181818;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

footer {
  margin-top: auto;
}
